<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Accueil - All Elite Wrestling et Ring Of Honor</title>
</head>

<body>
    <header>
        <h1>All Elite Wrestling et Ring Of Honor</h1>
        <a href="/roster">Roster complet</a>
    </header>
    <main>
        <section>
            <h2>All Elite Wrestling Champions</h2>
            <div class="card__container">
                <%- include('./partials/aewWorldChampion') %>
                <%- include('./partials/aewWomensWorldChampion') %>
                <%- include('./partials/aewWorldTagTeamChampions') %>
                <%- include('./partials/aewWorldTriosChampions') %>
                <%- include('./partials/aewInternationalChampion') %>
                <%- include('./partials/aewTBSChampion') %>
                <%- include('./partials/aewTNTChampion') %>                
            </div>
        </section>
    </main>
</body>

</html>