<%- include('partials/_head') %>

    <%- include('partials/_header') %>
        <main>
            <section class="content">
                <h2 class="content__title">ALL Elite Wrestling Roster</h2>
                <div class="card__container">
                    <% for (const wrestler of wrestlers) { %>
                        <div class="card">
                            <h3 class="card__title">
                                <%= wrestler.name %>
                            </h3>
                            <% if (wrestler.Championships.length > 0) { %>
                                <ul>
                                    <% for (const championship of wrestler.Championships) { %>
                                        <li><%= championship.title %></li>
                                    <% } %>
                                </ul>
                            <% } %>
                        </div>
                        <% } %>
                </div>
            </section>

        </main>

        <%- include('partials/_footer') %>