<%- include('partials/_head') %>

<%- include('partials/_header') %>
        <main>
            <section class="content">
                <h2 class="content__title">All Elite Wrestling Champions</h2>
                <div class="block__container">
                    <% for (const championship of championships) { %>
                        <% let gridClass = ""; %>
                        <% switch (championship.slug) {
                            case 'aew-world-championship':
                                gridClass = 'grid1'
                                break;
                            case 'aew-womens-world-championship':
                                gridClass = 'grid2';
                                break;
                            case 'aew-tag-team-championship':
                                gridClass = 'grid3';
                                break;
                            case 'aew-trios-championship':
                                gridClass = 'grid4';
                                break;
                            case 'aew-international-championship':
                                gridClass = 'grid5';
                                break;
                            case 'aew-tbs-championship':
                                gridClass = 'grid6';
                                break;
                            case 'aew-tnt-championship':
                                gridClass = 'grid7';
                                break;
                            default:
                                break;
                        } %>
                        <div class="block <%= gridClass %>">
                            <h3 class="block__title">
                                <%= championship.title %>
                            </h3>
                            <div class="card__container">
                                <% for (const championshipWrestler of championship.Wrestlers) { %>
                                    <div class="card">
                                        <h3 class="card__title">
                                            <%= championshipWrestler.name %>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nihil animi incidunt, consectetur sit nostrum? Illo doloremque ex ab. Omnis doloribus iste similique, necessitatibus magni rerum debitis. Dignissimos, facere dolore.</p>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>

                </div>
            </section>
        </main>

<%- include('partials/_footer') %>